body{
  overflow: hidden !important;
}
.attract-wrapper {
  height: 1080px;
  width: 1920px;
  background-size: contain;
  .attract-header {
    .select-box {
      .cd {
        position: absolute;
        top: 126px;
        right: 716px;
        font-size: 16px;
        color: #fff;
      }
      .cy {
        position: absolute;
        top: 126px;
        right: 470px;
        font-size: 16px;
        color: #fff;
      }
      .cyl {
        position: absolute;
        top: 126px;
        right: 160px;
        font-size: 16px;
        color: #fff;
      }
    }
  }
  .ant-pagination{
    position: absolute;
    bottom: 6px;
    right: 47px;
    color:#fff !important;
    .ant-pagination-item{
      background:transparent;
      &:focus,&:hover,&.ant-pagination-item-active{
        background:#1890ff !important;
      }
      a,.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
        background:transparent !important;
        border-color:#fff !important;
        color: #fff
         
      }
      .ant-pagination-next .ant-pagination-item-link:after{
        color: #fff !important
      }
    }
  }

  .mango-wrapper {
    .mango-list {
      position: absolute;
      top: 190px;
      left: 168px;
      width: 1712px;
      clear: both;
      .mango-item {
        float: left;
        width: 556px;
        height: 261px;
        background: url(border.png) no-repeat;
        background-size: 100%;
        margin-right: 22px;
        margin-bottom: 29px;
        padding: 22px 25px;
        box-sizing: border-box;
        &:nth-child(3n) {
          margin-right: 0;
        }
        .mango-img {
          display: inline-block;
          width: 157px;
          height: 135px;
          vertical-align: top;
          margin-right: 25px;
          img {
            display: inline-block;
            width: 100%;
            height: 100%;
          }
        }
        .company-detail {
          display: inline-block;
          vertical-align: top;
          width: 324px;
          height: 100%;
          li {
            margin-bottom: 6px;
            &.company-header {
              .text {
                display: inline-block;
                vertical-align: top;
                width: 250px;
                font-size: 16px;
                color: #46ebff;
              }
              .btn-go {
                display: inline-block;
                vertical-align: top;
                width: 47px;
                height: 22px;
                line-height: 20px;
                color: #ffd200;
                border: 1px solid #1fb5fc;
                border-radius: 5px;
                margin-left: 15px;
                text-align: center;
              }
            }
            label {
              color: #92e9ff;
              font-size: 14px;
            }
            .content {
              color: #fff;
              font-size: 14px;
            }
            .look-detail {
              font-size: 14px;
              color: #46ebff;
            }
          }
        }
      }
    }
  }
}
 //弹框
.cttclass .model-box {
  overflow-y: auto;
  margin-top: 20px;
  width: 100%;
  min-height: 300px;
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 16px;
    padding-bottom: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .info-box {
    width: 100%;
    tr {
      td {
        border: 1px solid rgba(255, 255, 255, 0.2);
        height: 40px;
        padding: 10px 20px;
        font-size: .14rem !important;
        &:nth-child(2n) {
          color: #fff;
        }
        &:nth-child(2n+1) {
          width: 180px;
          text-align:center;
          color: #92e9ff;
          background: #1B3686;
        }
      }
    }
  }
  .header {
    margin-bottom: 15px;
    .text {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      color: #46ebff;
    }
    .btn-go {
      display: inline-block;
      vertical-align: top;
      width: 47px;
      height: 22px;
      line-height: 20px;
      color: #ffd200;
      border: 1px solid #1fb5fc;
      border-radius: 5px;
      margin-left: 15px;
      text-align: center;
    }
  }
  .detail-list {
    overflow:hidden;
    .detail-item {
      float: left;
      width: 50%;
      margin-bottom: 12px;
      label {
        color: #92e9ff;
        font-size: 14px;
      }
      .content {
        color: #fff;
        font-size: 14px;
      }
    }
  }
  .content-box {
    .tab {
      margin-top: 10px;
      width: 360px;
    }
    .tabOne {
      display: none;
      height: 700px;
      .gx {
        display: inline-block;
        vertical-align: top;
        width: 70%;
        height: 100%;
      }
      .xl {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        height: 100%;
        .xl-list {
          margin-bottom: 3px !important;
          .xl-item {
            height:50px;
            line-height: 50px;
            padding-left: 28px;
            border-bottom: 1px solid #3872CD;
            &:last-child {
              border-bottom: none;

            }
            span{
              &:before{
                font-size: 20px;
                margin-right: 10px
              }
            }
          }
        }
        .ant-collapse-borderless{
          background: transparent !important;
        }
        .ant-collapse-item{
          border-radius: 8px !important;
          margin-bottom: 10px !important
        }
        .ant-collapse > .ant-collapse-item > .ant-collapse-header{
          color: #fff !important;
          height: 52px !important;
          line-height: 52px !important;
          display: flex;
          align-items: center;
          position: relative;
          background: linear-gradient(135deg, #305fba 25%, #2d5bb5 0,#2d5bb5 50%,#305fba  0%,#305fba 75%,#2d5bb5  0);
          background-size: 8px 8px;
          span.spanNum{
            width: 20px;
            height: 20px;
            /* display: inline-block; */
            position: absolute;
            right: 50px;
            top: 15px;
            font-weight: bold;
            background: #1567d2;
            border-radius: 50%;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
          }

        }
        .ant-collapse-content{
          color: transparent !important;
          background: linear-gradient(135deg, #305fba 25%, #2d5bb5 0,#2d5bb5 50%,#305fba  0%,#305fba 75%,#2d5bb5  0);
          background-size: 8px 8px;
          .xl-item{
            color: #fff !important;
            font-size: 16px !important;
          }
        }

      }
      .ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded="true"] .arrow{
        transform: rotate(-90deg);
        right: 30px;
        left: unset !important;
      }
      .ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded="false"] .arrow{
        transform: rotate(90deg);
        right: 30px;
        left: unset !important;
      }




    }
    .tabTwo {
      display: none;
      width: 100%;
      height: 700px;

      .shareholder-box {
        width: 100%;
        th, td {
          height: 40px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          text-align: center;
          color: #fff;
          font-size: 14px;

        }
        th {
          background: #1B3686;
          color: #23CFFD;
        }
      }
      .company-intro {
        .intro-text {
          color: #88D9F3;
          font-size: 14px;
        }
      }
    }
    .tabThree {
      display: none;
      .shareholder-box {
        width: 100%;
        th, td {
          height: 40px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          text-align: center;
          color: #fff;
          font-size: 14px;
        }
        th {
          background: #1B3686;
          color: #23CFFD;
        }
      }
    }
  }
}
